@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b688ec;
}

.wrapper {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper h2 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.wrapper h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #9d40f4;
}

.wrapper form {
    margin-top: 30px;
}

.wrapper form .input-box {
    height: 50px;
    margin: 20px 0;
}

form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #7927bb;
}

form .policy {
    display: flex;
    align-items: center;
}

form h3 {
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.input-box.button input {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    border: none;
    background: #a24cf3;
    cursor: pointer;
}

.wrapper form .input-box.button {
    margin: 10px 0;
}

.input-box.button input:hover {
    background: #8a08e1;
}

form .text h3 {
    color: #333;
    width: 100%;
    text-align: center;
}

form .text h3 a {
    color: #995bf5;
    text-decoration: none;
}

form .text h3 a:hover {
    text-decoration: underline;
}

.wrapper form .input-box select {
    height: 100%;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.input-box.select select:focus,
.input-box.select select:valid {
    border-color: #7217bd;
}

.error {
    color: firebrick;
    font-size: 14px;
    text-align: center;
    list-style: none;
    padding-left: 0;
}

.switch {
    background-color: rgba(255, 255, 255, 0.65);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 3px;
    color: rgb(124, 124, 124);
}

.switch:hover {
    background-color: rgba(149, 85, 231, 0.76);
    border: none;
    font-size: 16px;
    padding: 3px 5px;
    color: rgb(255, 255, 255);
}

.wrapper-container {
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    display: block;
}
